.classes-paper{
    margin: 0 auto;
    padding: 10px;
    display: table;
    margin-top: 5%;
    text-align: center;
    background-color: rgb(238, 232, 232);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}